In [92]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.select import Select
import time
import pandas as pd

In [2]:
# set chromedriver path and open browser
PATH = 'C:\chromedriver.exe'
driver = webdriver.Chrome(PATH)

In [3]:
# go to url
url = 'https://www.gardenate.com/'
driver.get(url)

In [4]:
# list available zones
# find your zone at 'https://www.gardenate.com/zones/'
zones = driver.find_elements_by_id('zone-selector')
for zone in zones:
    print(zone.text)

  Australia - arid
  Australia - cool/mountain
  Australia - sub-tropical
  Australia - temperate
  Australia - tropical
  Canada - Zone 2a Sub-Arctic
  Canada - Zone 2b Sub-Arctic
  Canada - Zone 3a Temperate Short Summer
  Canada - Zone 3b Temperate Warm Summer
  Canada - zone 4a Temperate Warm Summer
  Canada - Zone 4b Temperate Warm Summer
  Canada - Zone 5a Temperate Warm Summer
  Canada - Zone 5b Temperate Warm Summer
  Canada - Zone 6a Temperate Warm Summer
  Canada - Zone 6b Temperate Warm Summer
  Canada - Zone 7a Mild Temperate
  Canada - Zone 7b Mild Temperate
  Canada - Zone 8a Mild Temperate
  United Kingdom - cool/temperate
  United Kingdom - warm/temperate
  New Zealand - cool/mountain
  New Zealand - sub-tropical
  New Zealand - temperate
  USA - Zone 2a
  USA - Zone 2b
  USA - Zone 3a
  USA - Zone 3b
  USA - Zone 4a
  USA - Zone 4b
  USA - Zone 5a
  USA - Zone 5b
  USA - Zone 6a
  USA - Zone 6b
  USA - Zone 7a
  USA - Zone 7b
  USA - Zone 8a
  USA - Zone 8b
  USA - Zone 9a
  USA - Zone 9b
  USA - Zone 10a
  USA - Zone 10b
  USA - Zone 11a
  USA - Zone 11b
  USA - Zone 12a
  USA - Zone 12b
  USA - Zone 13a
  USA - Zone 13b
  South Africa - Dry summer sub-tropical
  South Africa - Humid sub-tropical
  South Africa - Semi-arid
  South Africa - Summer rainfall

In [5]:
# set zone (change as required)
my_zone = 'USA - Zone 7b'
my_zone

'USA - Zone 7b'

In [6]:
# select zone from dropdown
select_zone = Select(driver.find_element_by_id('zone-selector'))
select_zone.select_by_visible_text(my_zone)

In [7]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

In [8]:
# select the month
select_month = Select(driver.find_element_by_id('month-selector'))
select_month.select_by_visible_text('January')

In [74]:
plants = driver.find_elements_by_xpath('//div[@class="col-sm-9"]//div[4]')
for plant in plants:
    print(plant.text)

Broccoli Start undercover in seed trays and plant out in 4-6 weeks
Cabbage Sow seed
Carrot Sow seed
Celery Start undercover in seed trays and plant out in 4-6 weeks
Kale (also Borecole) Start undercover in seed trays and plant out in 4-6 weeks
Lettuce Sow seed
Mustard greens (also gai choy) Sow seed
Onion Sow seed
Radish Sow seed
Spinach (also English spinach) Sow seed
Turnip Sow seed

In [79]:
# not working correctly

plants = driver.find_elements_by_xpath('//div[@class="col-sm-9"]//div[4]/table/tbody')

i = 1

for plant in plants:
    
       
    print(i)
    
    plant_name = plant.find_element_by_xpath('.//tr['+str(i)+']/td[1]/a').text
    plant_action = plant.find_element_by_xpath('.//tr['+str(i)+']/td[2]').text
    
    i = i+1
    
    print(plant_name, plant_action)
    print(i)
    
    continue

1
Broccoli Start undercover in seed trays and plant out in 4-6 weeks
2

In [99]:
yearly_list = []

### for month in months:
    
select_month = Select(driver.find_element_by_id('month-selector'))
select_month.select_by_visible_text('January')

plants = driver.find_elements_by_xpath('//div[@class="col-sm-9"]//div[4]')
for plant in plants:
    print(plant.text)
        
    monthly_tasks = {
            
        'month': month,
        'plant_task': plant.text
            
    }
        
    yearly_list.append(monthly_tasks)

Broccoli Start undercover in seed trays and plant out in 4-6 weeks
Cabbage Sow seed
Carrot Sow seed
Celery Start undercover in seed trays and plant out in 4-6 weeks
Kale (also Borecole) Start undercover in seed trays and plant out in 4-6 weeks
Lettuce Sow seed
Mustard greens (also gai choy) Sow seed
Onion Sow seed
Radish Sow seed
Spinach (also English spinach) Sow seed
Turnip Sow seed

In [94]:
yearly_list

[{'month': 'March',
  'plant_task': 'Broccoli Start undercover in seed trays and plant out in 4-6 weeks\nCabbage Sow seed\nCarrot Sow seed\nCelery Start undercover in seed trays and plant out in 4-6 weeks\nKale (also Borecole) Start undercover in seed trays and plant out in 4-6 weeks\nLettuce Sow seed\nMustard greens (also gai choy) Sow seed\nOnion Sow seed\nRadish Sow seed\nSpinach (also English spinach) Sow seed\nTurnip Sow seed'}]

In [96]:
df = pd.DataFrame.from_dict(yearly_list)

In [100]:
df

   month                                         plant_task
0  March  Broccoli Start undercover in seed trays and pl...